In [2]:
import matplotlib
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
# Load the data
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv',na_values=["99.00"],header=None)
df = df.iloc[:,1:]
print(df)

        1     2     3     4     5     6     7     8     9     10   ...   91   \
0     -7.82  8.79 -9.66 -8.16 -7.52 -8.50 -9.85  4.17 -8.98 -4.76  ...  2.82
1      4.08 -0.29  6.36  4.37 -2.38 -9.66 -0.73 -5.34  8.88  9.22  ...  2.82
2       NaN   NaN   NaN   NaN  9.03  9.27  9.03  9.27   NaN   NaN  ...   NaN
3       NaN  8.35   NaN   NaN  1.80  8.16 -2.82  6.21   NaN  1.84  ...   NaN
4      8.50  4.61 -4.17 -5.39  1.36  1.60  7.04  4.61 -0.44  5.73  ...  5.19
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
24978  0.44  7.43  9.08  2.33  3.20  6.75 -8.79 -0.53 -8.74  7.23  ...  8.83
24979  9.13 -8.16  8.59  9.08  0.87 -8.93 -3.50  5.78 -8.11  4.90  ... -1.17
24980   NaN   NaN   NaN   NaN -7.77   NaN  6.70 -6.75   NaN   NaN  ...   NaN
24981   NaN   NaN   NaN   NaN -9.71   NaN  4.56 -8.30   NaN   NaN  ...   NaN
24982  2.43  2.67 -3.98  4.27 -2.28  7.33  2.33  4.56  6.75  4.61  ...   NaN

        92    93    94    95    96    97    98    99    100
0       NaN   NaN   NaN   NaN   NaN -5.63   NaN   NaN   NaN
1     -4.95 -0.29  7.86 -0.19 -2.14  3.06  0.34 -4.32  1.07
2       NaN   NaN  9.08   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN   NaN  0.53   NaN   NaN   NaN   NaN   NaN   NaN
4      5.58  4.27  5.19  5.73  1.55  3.11  6.55  1.80  1.60
...     ...   ...   ...   ...   ...   ...   ...   ...   ...
24978 -1.21  9.22 -6.70  8.45  9.03  6.55  8.69  8.79  7.43
24979 -5.73 -1.46  0.24  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24981   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24982   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 100 columns]

In [4]:
df.iloc[15827,90]

-1.65

In [5]:
print(df.max().tolist())
df[45].max()

[9.37, 9.37, 9.37, 9.37, 9.37, 9.47, 9.61, 9.76, 9.9, 9.37, 9.61, 9.85, 9.37, 9.56, 9.9, 9.37, 9.37, 9.81, 9.56, 9.37, 9.56, 9.85, 9.85, 9.81, 9.37, 9.37, 9.42, 9.42, 9.37, 9.37, 9.37, 9.9, 9.37, 9.37, 9.9, 9.85, 9.37, 9.56, 9.76, 9.37, 9.37, 9.85, 9.42, 9.37, 10.0, 9.66, 9.81, 9.37, 9.9, 9.95, 9.37, 9.66, 9.71, 9.51, 9.95, 9.37, 9.37, 9.42, 9.37, 9.37, 9.37, 9.85, 9.47, 9.37, 9.85, 10.0, 9.37, 9.71, 9.76, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.81, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37, 9.47, 9.42, 9.37, 9.56, 9.42, 9.37, 9.42, 9.37, 9.37, 9.37, 9.37, 9.37, 9.37]

10.0

In [6]:
# Load the data
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv',na_values=["99.00"],header=None)
df = df.iloc[:,1:]
print(df)

        1     2     3     4     5     6     7     8     9     10   ...   91   \
0     -7.82  8.79 -9.66 -8.16 -7.52 -8.50 -9.85  4.17 -8.98 -4.76  ...  2.82
1      4.08 -0.29  6.36  4.37 -2.38 -9.66 -0.73 -5.34  8.88  9.22  ...  2.82
2       NaN   NaN   NaN   NaN  9.03  9.27  9.03  9.27   NaN   NaN  ...   NaN
3       NaN  8.35   NaN   NaN  1.80  8.16 -2.82  6.21   NaN  1.84  ...   NaN
4      8.50  4.61 -4.17 -5.39  1.36  1.60  7.04  4.61 -0.44  5.73  ...  5.19
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
24978  0.44  7.43  9.08  2.33  3.20  6.75 -8.79 -0.53 -8.74  7.23  ...  8.83
24979  9.13 -8.16  8.59  9.08  0.87 -8.93 -3.50  5.78 -8.11  4.90  ... -1.17
24980   NaN   NaN   NaN   NaN -7.77   NaN  6.70 -6.75   NaN   NaN  ...   NaN
24981   NaN   NaN   NaN   NaN -9.71   NaN  4.56 -8.30   NaN   NaN  ...   NaN
24982  2.43  2.67 -3.98  4.27 -2.28  7.33  2.33  4.56  6.75  4.61  ...   NaN

        92    93    94    95    96    97    98    99    100
0       NaN   NaN   NaN   NaN   NaN -5.63   NaN   NaN   NaN
1     -4.95 -0.29  7.86 -0.19 -2.14  3.06  0.34 -4.32  1.07
2       NaN   NaN  9.08   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN   NaN  0.53   NaN   NaN   NaN   NaN   NaN   NaN
4      5.58  4.27  5.19  5.73  1.55  3.11  6.55  1.80  1.60
...     ...   ...   ...   ...   ...   ...   ...   ...   ...
24978 -1.21  9.22 -6.70  8.45  9.03  6.55  8.69  8.79  7.43
24979 -5.73 -1.46  0.24  9.22 -8.20 -7.23 -8.59  9.13  8.45
24980   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24981   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24982   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[24983 rows x 100 columns]